@model IEnumerable<SubApp1.Models.Friend>

<div>
    <h1>Friends</h1>
    <div class="container">
    <table class='table table-striped'>
        <tr><th>Id</th><th>Name</th><th>Pictucher</th><th>Bio</th></tr>

    @foreach (var friend in Model)
    {
        <tr>
            <td> <div class="friend-profile"></td>
            <td>
                <img src="@friend.ProfilePictureUrl" alt="Profile picture" style="max-width: 80px; max-height: 80px;"  />
            </td>
            <td>@friend.Name</td>
            <td>@friend.Bio</td>
            <td>
                <a asp-action="Delete" asp-route-id="@friend.Id">RemoveFriend</a>
            </td>
        </tr>
   
        <div>
            <a asp-controller="Profile" asp-action="Details" asp-route-id="@friend.Id">View Profile</a>
        </div>

    }
    
    </table>
    
</div>
