@model List<SubApp1.Models.Post>

@{
    ViewData["Title"] = "Profile Page";
}

<script src="https://kit.fontawesome.com/b090154bf0.js" crossorigin="anonymous"></script>

<body>
    <div id="profile-container-left">
        <img id="profile-picture" src="https://i.imgur.com/Z8k08or.png">
        <div id="navbar-left">
            <a id="navbar-item" asp-controller="Profile" asp-action="Friends">Friends</a><br>
            <a id="navbar-item" asp-controller="Profile" asp-action="Edit">Edit Profile</a><br>
            <a id="navbar-item" asp-controller="Profile" asp-action="Logout">Logout</a>
        </div>
    </div>
    
    <div id="profile-container-right">
        <!-- Post Creation Area -->
        <div id="container-post">
            <div id="post-area">
                <form asp-action="CreatePost" asp-controller="Profile" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <textarea id="post-textarea" name="PostContent" placeholder="Write something"></textarea>
                    <input type="file" id="post-image" name="PostImage" accept="image/*" />
                    <button id="post-button" type="submit">Post</button>
                </form>
            </div>
        </div>

        <!-- User's Posts Display Area -->
        @foreach (var post in Model)
        {
            <div id="container-post">
                <div id="post-header">
                    <div id="post-profile">
                        <span>@post.CreatedAt.ToString("MMM dd") at @post.CreatedAt.ToString("HH:mm")</span>
                    </div>
                </div>
                
                <div id="post-contents">
                    <p>@post.Content</p>
                    
                    @if (!string.IsNullOrEmpty(post.ImageUrl))
                    {
                        <img id="post-image-content" src="@post.ImageUrl" />
                    }
                    
                    <div id="post-interaction">
                        <span id="post-choice"><a href="#"><i class="fa-regular fa-heart"></i> Like</a></span>
                        <span id="post-choice"><a href="#"><i class="fa-regular fa-comment"></i> Comment</a></span>
                        <span id="post-choice"><a href="#"><i class="fa-regular fa-star"></i> Favorite</a></span>
                        <span id="post-choice"><a href="#"><i class="fa-regular fa-share-from-square"></i> Share</a></span>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
